<footer class="bg-pink footer">
  <div class="footer__logo">
    <div class="footer__logo-icon">
      <img src="../image/logo.png" alt="A cupcake, logo of website" />
    </div>
    <h1 class="fs-800 ff-serif color-heading">TORONTO<br />CUPCAKE</h1>
  </div>
  <div class="footer__nav">
    <h3 class="fs-600 color-heading">Navigation</h3>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="cupcake.html">Cupcakes</a></li>
      <li><a href="corperate.html">Corperate</a></li>
      <li><a href="connect.html">Connect</a></li>
      <li><a href="faq.html">Faq</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </div>
  <div class="footer__social">
    <h3 class="fs-600 color-heading">Stay Connected</h3>
    <div class="footer__icon-list">
      <a href="#" class="footer__icon">
        <img src="../image/facebook.png" alt="facebook icon" />
      </a>
      <a href="#" class="footer__icon">
        <img src="../image/twitter.png" alt="twitter icon" />
      </a>
      <a href="#" class="footer__icon">
        <img src="../image/instagram.png" alt="instagram icon" />
      </a>
      <a href="#" class="footer__icon">
        <img src="../image/youtube.png" alt="youtube icon" />
      </a>
    </div>
  </div>
</footer>
