<header class="header">
    <div class="header__logo">
        <img src="../image/logo.png" alt="A cupcake, logo of website">
    </div>
    <nav class="header__nav">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="cupcake.html">Cupcakes</a></li>
            <li><a href="corporate.html">Corporate</a></li>
            <li><a href="connect.html">Connect</a></li>
            <li><a href="faq.html">Faq</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
</header>
<div style="padding-top: 10vh"></div>