@import url(index.css);
@import url(home.css);

/* Contact section */
.contact {
    padding: 0 25vw;
}

.contact p {
    margin-bottom: 2rem;
}

.contact a {
    color: var(--color-accent);
}

.contact.section {
    margin-top: 0;
}

/* Location section */
.location {
    text-align: center;
}

.location .section-heading {
    padding-top: 5vh;
    margin-bottom: 1.5rem;
}

.location__map {
    width: 100vw; 
    height: 100vh; 
    padding: 7vh 20vw; 
    border: 0;
}

/* Form section */
.form-wrapper {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 20vh;
    padding: 4rem;
    box-shadow:  7px 7px 25px #cacaca,
                -7px -7px 25px #f6f6f6;
}

.form input:not(input[type=checkbox]),
.form textarea {
    background-color: #f1f1f1;
    box-shadow: 0 1px 3px #32325d26, 0 1px #00000005;
    border: 0;
    outline: 0;
    resize: none;
    padding: 0.7rem 1.7rem;
    transition: box-shadow 0.75s;
    border-radius: 6px;
}

.form input:not(input[type=checkbox]):focus,
.form textarea:focus {
    box-shadow: 2px 2px 5px rgba(133, 70, 240, 0.7);
}

.form label {
    padding-bottom: 0.5rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.form > * {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.form__btn {
    width: auto;
    padding: 1rem 3rem;
    border-radius: 6px;
}

.form__checkbox {
    flex-direction: row;
}

.form__checkbox label {
    padding: 0 1rem;
}

.layout-2-column {
    width: 50%;
}

.layout-2-column:first-child {
    padding-right: 1.5rem;
}
