<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/corperate.css">
    <title>Corperate</title>
</head>

<body>
    <header class="header">
        <div class="header__logo">
            <img src="../image/logo.png" alt="A cupcake, logo of website">
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="cupcake.html">Cupcakes</a></li>
                <li><a href="corporate.html">Corporate</a></li>
                <li><a href="connect.html">Connect</a></li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <div style="padding-top: 10vh"></div>

    <div>
        <h1 class="fs-800 ff-serif color-heading center-text">CORPORATE</h1>
    </div>
    
    <div class="client-wrap">
        <h2 class="fs-500 ff-sans-serif color-body center-text">Some of our clients <br> (Direct or through others)</h2>
        <hr>
    </div>

    <table>
        <tr>
            <td>
                <div class="client-wrap">
                    <a href="https://open.spotify.com">
                    <img class='client-image' src="../image/spotify.png" alt="spotify logo">
                    </a>
                </div>
            </td> 
            <td>
                <div class="client-wrap">
                    <a href="https://www.android.com/">
                    <img class='client-image' src="../image/android.png" alt="android logo">
                    </a>
                </div>
            </td>
            <td>
                <div class="client-wrap">
                    <a href="https://www.ibm.com/my-en">
                    <img class='client-image' src="../image/ibm.png" alt="ibm logo">
                    </a>
                </div>
            </td>
            <td>
                <div class="client-wrap">
                    <a href="https://www.coca-cola.com/">
                    <img class='client-image' src="../image/cocacola.png" alt="cocacola logo">
                    </a>
                </div>
            </td>
            <td>
                <div class="client-wrap">
                    <a href="https://www.linkedin.com/">
                    <img class='client-image' src="../image/linkedin.png" alt="linkedin logo">
                    </a>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="client-wrap">
                    <a href="https://www.versace.com/international/en/home/?glCountry=MY">
                    <img class='client-image' src="../image/versace.png" alt="versace logo">
                    </a>
                </div>
            </td> 
            <td>
                <div class="client-wrap">
                    <a href="https://www.alwaysoncall.ca/">
                    <img class='client-image' src="../image/alwaysoncall.png" alt="always on call logo">
                    </a>
                </div>
            </td>
            <td>
                <div class="client-wrap">
                    <a href="https://www.yamaha-motor.com.my/">
                    <img class='client-image' src="../image/yamaha.png" alt="yamaha logo">
                    </a>
                </div>
            </td>
            <td>
                <div class="client-wrap">
                    <a href="https://ddb.com/">
                    <img class='client-image' src="../image/ddb.png" alt="ddb logo">
                    </a>
                </div>
            </td>
            <td>
                <div class="client-wrap">
                    <a href="https://www.interac.ca/en/">
                    <img class='client-image' src="../image/interac.png" alt="interac logo">
                    </a>
                </div>
            </td>
        </tr>
    </table>

    <div>
        <h2 class="fs-500 ff-sans-serif color-body center-text margin-text">
            From Product/Brand Launch to Customer Appreciation, Toronto Cupcake is able to provide you custom decorating to match that winning campaign.
            <br>
            Our Graphics Department will work with you to reproduce Logos, Icons, Slogans , etc on an edible fondant disc or hand pressed lettering on a fondant disc. 
            <br>
            Our frostings can be made to mimic your theme colours or to use as a neutral backdrop.

        </h2>
    </div>

    <div class="container">
        <div>
            <img class="container-image" src="../image/ibmlogo.png" alt="ibm logo cupcake">
            <h3 class="fs-600 ff-sans-serif color-body center-text">IBM logo</h3>
            <p class="fs-500 ff-sans-serif color-body container-text">
            IBM uses these Toronto Cupcakes for Customer meetings and Thank you gifts.
            <br>
            We package your message in boxes of 12, 6, 4 or 1 depending on your marketing needs.
            </p>
        </div>
    </div>

    <div class="container">
        <div>
            <img class="container-image" src="../image/androidlogo.png" alt="android logo cupcake">
            <h3 class="fs-600 ff-sans-serif color-body center-text">Android logo</h3>
            <p class="fs-500 ff-sans-serif color-body container-text">
                Our friends at the local cell phone store ordered these hand, die-cut droids for a 2 day event celebrating the most recent incarnation of Android.
            </p>
        </div>
    </div>

    <div class="container">
        <div>
            <img class="container-image" src="../image/alwaysoncalllogo.png" alt="android logo cupcake">
            <h3 class="fs-600 ff-sans-serif color-body center-text">Always On Call logo</h3>
            <p class="fs-500 ff-sans-serif color-body container-text">
                Always on Call wanted to thank their clients for choosing Always on Call for their on the road support needs.
            </p>
        </div>
    </div>

    <div>
        <h2 class="fs-500 ff-sans-serif color-body center-text margin-text">
            You can send us your graphics in almost any format (jpg, png, gif, bmp, svg, etc) and we will take it from there.
            <br>
            We will work with you on special delivery requests and packaging if needed.
            <br>
            We will deliver your marketing materials along with our cupcakes.
        </h2>
    </div>

    <div>
        <div>
            <h2 class="fs-800 ff-serif color-heading center-text margin-text">Event displays</h2>
        </div>
        <div class="container">
            <img class="container-image2" src="../image/eventdisplays.png" alt="event displays image">
            <p class="fs-500 ff-sans-serif color-body container-text">
                We can use one of our many display stands or build one to your specs to display your theme cupcakes and <b>wow</b> your audience.
            </p>
        </div>
    </div>

    <footer class="bg-pink footer">
        <div class="footer__logo">
            <div class="footer__logo-icon">
                <img src="../image/logo.png" alt="A cupcake, logo of website">
            </div>
            <h1 class="fs-800 ff-serif color-heading">TORONTO<br>CUPCAKE</h1>
        </div>
        <div class="footer__nav">
            <h3 class="fs-600 color-heading">Navigation</h3>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="cupcake.html">Cupcakes</a></li>
                <li><a href="corperate.html">Corperate</a></li>
                <li><a href="connect.html">Connect</a></li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <div class="footer__social">
            <h3 class="fs-600 color-heading">Stay Connected</h3>
            <div class="footer__icon-list">
                <a href="#" class="footer__icon">
                    <img src="../image/facebook.png" alt="facebook icon">
                </a>
                <a href="#" class="footer__icon">
                    <img src="../image/twitter.png" alt="twitter icon">
                </a>
                <a href="#" class="footer__icon">
                    <img src="../image/instagram.png" alt="instagram icon">
                </a>
                <a href="#" class="footer__icon">
                    <img src="../image/youtube.png" alt="youtube icon">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>