<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/cupcake.css">
    <title>Cupcake</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="../image/logo.png" alt="A cupcake, logo of website">
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="cupcake.html">Cupcakes</a></li>
                <li><a href="corporate.html">Corporate</a></li>
                <li><a href="connect.html">Connect</a></li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <div style="padding-top: 10vh"></div>

    <h1 class="fs-800 ff-serif color-heading text-align">
        CUPCAKES
    </h1>
    <p class="fs-500 ff-sans-serif color-body text-align">FRESHLY MADE AND ALWAYS AVAILABLE</p>

    <div class="image-map">
        <img src="../image/image-map.png" alt="cupcakes" usemap="#cupcakesmap" width="400px" height="500px">
    </div>

    <map name="cupcakesmap">
        <area shape="rect" coords="0,0,200,250" href="#spd" alt="St Patty's Day cupcake">
        <area shape="rect" coords="250,0,400,250" href="#vl" alt="Vanilla Lemon cupcake">
        <area shape="rect" coords="0,250,250,500" href="#pride" alt="Pride Day cupcake">
        <area shape="rect" coords="200,250,400,500" href="#custom" alt="Customised cupcake">
    </map>

    <table>
        <tr>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/chocolate-peanut-butter.png" alt="chocolate peanut butter cupcake">
                    <h2>Chocolate peanut butter cupcake</h2>
                    <p>Chocolate cupcakes with sweet PB frosting topped with a hand made PB cup wedge</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td> 
            <td>
                <div class="card">
                    <img class='card__image' src="../image/chocolate-hazelnut.png" alt="chocolate hazelnut cupcake">
                    <h2>Chocolate hazelnut cupcake</h2>
                    <p>Chocolate cupcake topped with chocolate ganche and caramelized hazelnuts</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/vanilla-coconut.png" alt="vanilla coconut cupcake">
                    <h2>Vanilla Coconut cupcake</h2>
                    <p>Vanilla cupcake with vanilla frosting topped with flaked coconut</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/chocolate-coconut.png" alt="chocolate coconut cupcake">
                    <h2>Chocolate Coconut cupcake</h2>
                    <p>Chocolate cupcake with vanilla frosting topped with flaked coconut</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/hot-fudge-sundae.png" alt="hot fudge sundae cupcake">
                    <h2>Hot Fudge Sundae cupcake</h2>
                    <p>Chocolate cupcake with frosting, topped with sprinkles, hazelnuts, and a cherry</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card" id="vl">
                    <img class='card__image' src="../image/vanilla-lemon.png" alt="vanilla lemon cupcake">
                    <h2>Vanilla Lemon cupcake</h2>
                    <p>Vanilla cupcake topped with cream cheese frosting and jelly lemon slice</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/red-velvet.png" alt="red velvet cupcake">
                    <h2>Red Velvet cupcake</h2>
                    <p>Vanilla cream cheese frosting topped with red and white chocolate curls</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/vanilla-carmel.png" alt="vanilla carmel cupcake">
                    <h2>Vanilla Carmel cupcake</h2>
                    <p>Vanilla cupcake filled with creamy Dulce de leche filling, covered with vanilla icing</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/chocolate-oreo.png" alt="chocolate oreo cupcake">
                    <h2>Chocolate Oreo cupcake</h2>
                    <p>Chocolate cupcake topped with oreo with vanilla cream and a mini oreo cookie</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/vanilla-vanilla.png" alt="vanilla vanilla cupcake">
                    <h2>Vanilla Vanilla cupcake</h2>
                    <p>Vanilla cupcake topped with vanilla frosting and a hand crafted fondant flower</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/chocolate-carmel2.png" alt="chocolate carmel II cupcake">
                    <h2>Chocolate Carmel II cupcake</h2>
                    <p>Chocolate cupcake topped with carmel infused icing and a piece of chocolate brittle</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/chocolate-toffee.png" alt="chocolate toffee cupcake">
                    <h2>Chocolate Toffee cupcake</h2>
                    <p>Chocolate cupcake filled toffee and chocolate ganache,topped with crisp pearls</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/hummingbird.png" alt="hummingbird cupcake">
                    <h2>Hummingbird cupcake</h2>
                    <p>Banana, pineapple, pecan cupcake with cream cheese frosting topped with pecan</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class='card__image' src="../image/chocolate-chocolate-ganache.png" alt="chocolate chocolate ganache cupcake">
                    <h2>Chocolate Chocolate Ganache cupcake</h2>
                    <p>Chocolate cupcake filled with chocolate ganache, topped with chocolate sprinkles</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card" id="pride">
                    <img class='card__image' src="../image/pride.png" alt="pride day cupcake">
                    <h2>Pride day cupcake</h2>
                    <p>With over an estimated 1.3 million people in attendance you would think someone would want a cupcake?
                       aren't we lucky to be living in such a diverse country!
                    </p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
            <td>
                <div class="card" id="spd">
                    <img class='card__image' src="../image/st-patrick-day.png" alt="st patty day cupcake">
                    <h2>St Patty's Day cupcake</h2>
                    <p>For the Irish in all of us. 
                       Chocolate or Vanilla cupcake with green or vanilla frosting topped with a lucky fondant shamrock.</p>
                    <button class="bg-accent">Add to cart</button>
                </div>
            </td>
        </tr>
    </table>

    <div class="category">
        <h1 class="fs-800 ff-serif color-heading text-align">ALWAYS AVAILABLE</h1>
    </div>
    
    <div class="package">
        <div class="package__img">
            <img src="../image/dozen.png" alt="a dozen cupcake">
        </div>
        <div class="package__content">
            <h3 class="fs-700 color-heading">ONE DOZEN ONE CLICK</h3>
            <p>In a panic or can't decide? Need a dozen awesome cupcakes but don't want to pick them out individually? 
                Read no more just hit the add to cart button and we will pick out 12 delicious cupcakes for you randomly!</p>
            <a class="package__btn fs-600">Add to cart</a>
        </div>
    </div>

    <div class="category">
        <h1 class="fs-800 ff-serif color-heading text-align">HOLIDAYS</h1>
    </div>
   
    <div class="package package--reverse">
        <div class="package__img">
            <img src="../image/mother.png" alt="mother's day cupcake">
        </div>
        <div class="package__content">
            <h3 class="fs-700 color-heading">Mother's Day special</h3>
            <p>
                Spoil your mom this Mother's Day! Toronto Cupcake is bringing together hearts,butterflys and flowers on delicious cupcakes
            </p>
            <a class="package__btn fs-600">Add to cart</a>
        </div>
    </div>

    <div class="package">
        <div class="package__img">
            <img src="../image/valentine.png" alt="valentine's day cupcake">
        </div>
        <div class="package__content">
            <h3 class="fs-700 color-heading">Valentine's Day special</h3>
            <p>Designed and packaged a delicious selection of a dozen Valentine's Day Cupcakes including one topped with a heart shaped chocolate truffle. </p>
            <a class="package__btn fs-600">Add to cart</a>
        </div>
    </div>
    
    <div class="category" id="custom">
        <h1 class="fs-800 ff-serif color-heading text-align">
            CUSTOM
        </h1>
    </div>

    <div class="package package--reverse">
        <div class="package__img">
            <img src="../image/custom-cupcake.png" alt="custom cupcake">
        </div>
        <div class="package__content">
            <h3 class="fs-700 color-heading">Customised cupcake</h3>
            <p class="fs-500 ff-sans-serif color-body">Want to have your own design? You can choose your own preferable design!</p>
            <a class="package__btn fs-600">Add to cart</a>
        </div>
    </div>

    <footer class="bg-pink footer">
        <div class="footer__logo">
            <div class="footer__logo-icon">
                <img src="../image/logo.png" alt="A cupcake, logo of website">
            </div>
            <h1 class="fs-800 ff-serif color-heading">TORONTO<br>CUPCAKE</h1>
        </div>
        <div class="footer__nav">
            <h3 class="fs-600 color-heading">Navigation</h3>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="cupcake.html">Cupcakes</a></li>
                <li><a href="corperate.html">Corperate</a></li>
                <li><a href="connect.html">Connect</a></li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <div class="footer__social">
            <h3 class="fs-600 color-heading">Stay Connected</h3>
            <div class="footer__icon-list">
                <a href="#" class="footer__icon">
                    <img src="../image/facebook.png" alt="facebook icon">
                </a>
                <a href="#" class="footer__icon">
                    <img src="../image/twitter.png" alt="twitter icon">
                </a>
                <a href="#" class="footer__icon">
                    <img src="../image/instagram.png" alt="instagram icon">
                </a>
                <a href="#" class="footer__icon">
                    <img src="../image/youtube.png" alt="youtube icon">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>