<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/faq.css">
    <title>Faq</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="../image/logo.png" alt="A cupcake, logo of website">
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="cupcake.html">Cupcakes</a></li>
                <li><a href="corporate.html">Corporate</a></li>
                <li><a href="connect.html">Connect</a></li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <div style="padding-top: 10vh"></div>

    <ul id="accordion">
        <h1>ORDERING</h1>   
        <li>
          <label for="first">How much time for a custom order?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="first">
            <div class="content">
              <p> It would be very helpful if you could give a minimum of 48 hours notice when ordering something
        special. For personalised stamping such as initials or logos please call or email us.</p>
            </div>
        </li>
    
    
        <li>
            <label for="second">What is the smallest order I can make?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="second" >
            <div class="content">
              <p>Minimum order is 1/2 dozen cupcakes .</p>
            </div>
        </li>
    
        <li>
            <label for="third">What are my options for payment?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="third" >
            <div class="content">
              <p>We will accept cheque, money orders, all major credit cards, and paypal. We can also accept payment 
                via email interac transaction (Canada only).</p>
            </div>
        </li>
    
        <li>
            <label for="forth">When and how do I pay?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="forth" >
            <div class="content">
              <p>Payment is due when you receive your invoice via email. After you have successfully completed an 
                order you will receive an order confirmation email from Toronto Cupcake. Shortly afterwards you will be 
                sent an invoice that can be paid online.</p>
            </div>
        </li>
        &nbsp;
        <h1>DELIVERING/PICK UP/SENDING</h1>
        <li>
        <label for="fifth">Does Toronto Cupcake deliver?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="fifth" >
            <div class="content">
                <p>Yes! Toronto Cupcake delivers to all locations in the GTA and surrounding areas. The minimum order 
                    for delivery is 1/2 dozen. Delivery to most downtown Toronto postal codes is $13.00. We deliver to
                     a radius of approximately 80KM from downtown Toronto. If you need a delivery outside of this area 
                     please contact us. Delivery windows are 8-noon and noon-6 within Toronto. Outside of Toronto is noon-6.</p>  
            </div>
        </li>
        <li>
            <label for="sixth">What is the earliest time I can get delivery?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="sixth" >
            <div class="content">
                <p>Our earliest delivery window is 8am to noon. Our latest delivery window is noon to 6pm, 7 days a week. 
                    If you need something outside of this delivery schedule please call or email us and we will try to accommodate.</p> 
            </div>
        </li>
        <li>
            <label for="seventh">Can I pick up my cupcakes?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="seventh" >
            <div class="content">
                <p>Yes!Please contact us to make arrangements.</p>
            </div>
        </li>
        <li>
            <label for="eighth">How if the person is not at home?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="eighth" >
            <div class="content">
                <p>When you order you will be asked to provide a contact name and number at the deliver to location. It is your
                responsibility to make sure someone will be at the delivery location during the delivery time. We do our best
                 to leave the delivery with someone or indoors. On occasion we may leave your delivery at the door.</p>
            </div>
        </li>
        &nbsp;
        <h1>INGREDIENTS</h1>
        <li>
        <label for="ninth">Does Toronto Cupcakes have gluten-free cupcakes?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="ninth" >
            <div class="content">
                <p>Yes,by special order.Please contact us. There is a minimum order of a dozen.</p>  
            </div>
        </li>
        <li>
            <label for="tenth">What colours do you have?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="tenth" >
            <div class="content">
                <p>As we hand-make our own colours we can do any colour!</p> 
            </div>
        </li>
        <li>
            <label for="eleventh">Do you offer special icing colours?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="eleventh" >
            <div class="content">
                <p>Yes, we do offer special icing colours. Please try and give us as much advanced notice as you can when requesting
                    special colours and we will do our best to accommodate.</p>
            </div>
        </li>
        <li>
            <label for="twelfth">Are Toronto Cupcakes products nut free?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="twelfth" >
            <div class="content">
                <p>Toronto Cupcake is NOT a nut-free kitchen. Several of our flavours use peanuts or other nut products.
                    We recommend that customers with severe nut allergies err on the side of caution and not eat our cupcakes.</p>
            </div>
        </li>
        &nbsp;
    
        <h1>OTHERS</h1>
        <li>
        <label for="thirteenth">How do I store my cupcakes?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="thirteenth" >
            <div class="content">
                <p>If you are planning on eating them within a day you can store them at room temperature. If you are not going 
                    to eat them right away you can freeze them. To thaw them, take them out of the freezer and cover them lightly
                     with plastic wrap while they thaw. This will minimize condensation forming on the cupcakes. They should be ready 
                     to eat in about an hour.You should not refrigerate your cupcakes overnight because they will dry out.</p>  
            </div>
        </li>
        <li>
            <label for="fourteenth">Are you able to personalise cupcakes?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="fourteenth" >
            <div class="content">
                <p>Challenge us!! We are so excited to create personalised cupcakes for you. From traditional hand stamped initials 
                    or logos to hand moulded 3D characters we are up to the task. Check out our occasions page to see some of our work. 
                    Please give us a call or email to discuss your ideas.</p> 
            </div>
        </li>
        <li>
            <label for="fifteenth">Do I need to order my cupcakes in advance?<span>&#x3e;</span></label>
            <input type="checkbox" name="accordion" id="fifteenth" >
            <div class="content">
                <p>Not at all, unless you would like to have something specially made for you.
                 It would be very helpful if you could give a minimum of 48 hours notice when ordering something special. For our store
            locations and hours, please click here.</p>
            </div>
        </li>
        
            
              </ul>

    <footer class="bg-pink footer">
    <div class="footer__logo">
        <div class="footer__logo-icon">
        <img src="../image/logo.png" alt="A cupcake, logo of website" />
        </div>
        <h1 class="fs-800 ff-serif color-heading">TORONTO<br />CUPCAKE</h1>
    </div>
    <div class="footer__nav">
        <h3 class="fs-600 color-heading">Navigation</h3>
        <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="cupcake.html">Cupcakes</a></li>
        <li><a href="corporate.html">Corporate</a></li>
        <li><a href="connect.html">Connect</a></li>
        <li><a href="faq.html">Faq</a></li>
        <li><a href="about.html">About</a></li>
        </ul>
    </div>
    <div class="footer__social">
        <h3 class="fs-600 color-heading">Stay Connected</h3>
        <div class="footer__icon-list">
        <a href="#" class="footer__icon">
            <img src="../image/facebook.png" alt="facebook icon" />
        </a>
        <a href="#" class="footer__icon">
            <img src="../image/twitter.png" alt="twitter icon" />
        </a>
        <a href="#" class="footer__icon">
            <img src="../image/instagram.png" alt="instagram icon" />
        </a>
        <a href="#" class="footer__icon">
            <img src="../image/youtube.png" alt="youtube icon" />
        </a>
        </div>
    </div>
    </footer>
              
</body>
</html>