<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/home.css">
    <title>Home</title>
</head>
<body>

    <header class="header">
        <div class="header__logo">
            <img src="../image/logo.png" alt="A cupcake, logo of website">
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="cupcake.html">Cupcakes</a></li>
                <li><a href="corporate.html">Corporate</a></li>
                <li><a href="connect.html">Connect</a></li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <div style="padding-top: 5vh"></div>

    <section>
        <div class="hero container">
            <div class="hero__section">
                <h1 class="fs-900 ff-serif color-heading uppercase">Toronto<br>Cupcakes</h1>
                <p>Welcome! Thank you for stopping by Toronto Cupcake.
                    Canada's and the GTA's favourite stop for that special treat.
                    Order cupcakes online 24/7 for your special event.
                </p>
                <a href="cupcake.html" class="hero__btn btn fs-600 bg-accent">Get Started</a>
            </div>
        </div>
    </section>

    <section class="section">
        <h2 class="fs-800 ff-serif color-heading uppercase section-heading">our service</h3>
        
        <div class="service container">
            <div class="service__section">
                <div class="icon-container bg-pink">
                    <img class="icon" src="../image/celebrate.png" alt="A celebration icon">
                </div>
                <h3 class="fs-700 color-heading">Event</h3>
                <p>Providing Canada's most delicious cupcakes for business meetings, birthdays, weddings, or for no other reason than because.</p>
            </div>
    
            <div class="service__section">
                <div class="icon-container bg-pink">
                    <img class="icon" src="../image/quality.png" alt="A badge icon">
                </div>
                <h3 class="fs-700 color-heading">Quality</h3>
                <p>Our cupcakes are baked daily using the finest ingredients.</p>
            </div>
    
            <div class="service__section">
                <div class="icon-container bg-pink">
                    <img class="icon" src="../image/shipping.png" alt="A drone shipping a parcel">
                </div>
                <h3 class="fs-700 color-heading">Shipping</h3>
                <p>Cupcake delivery is available throughout Toronto, the GTA, and beyond. Cupcakes are delivered in our signature pink box.</p>
            </div>    
        </div>   
    </section>

    <section class="section section--menu">
        <h2 class="ff-serif fs-800 color-heading uppercase section-heading">menu</h2>
        <div class="container menu">
            <div class="menu__section">
                <img src="../image/available.jpg" alt="Cupcakes on a pink table" class="menu__image">

                <div class="menu__content">
                    <h3 class="fs-700 color-heading">Always Available</h3>
                    <p>Pick out 12 always available cupcakes</p>
                    <a href="cupcake.html" class="btn bg-accent menu__btn">Shop Now</a>
                </div>
            </div>

            <div class="menu__section">
                <img src="../image/holiday.jpg" alt="Cupcake with the christmas theme" class="menu__image">

                <div class="menu__content">
                    <h3 class="fs-700 color-heading">Holidays</h3>
                    <p>Special Holiday cupcakes are individually priced</p>
                    <a href="cupcake.html" class="btn bg-accent menu__btn">Shop Now</a>
                </div>
            </div>

            <div class="menu__section">
                <img src="../image/event.png" alt="Flower beside by a gift" class="menu__image">

                <div class="menu__content">
                    <h3 class="fs-700 color-heading">Special Events</h3>
                    <p>Weddings, engagements, or other special occasions</p>
                    <a href="cupcake.html" class="btn bg-accent menu__btn">Shop Now</a>
                </div>
            </div>

            <div class="menu__section">
                <img src="../image/custom.png" alt="A custom cupcake" class="menu__image">

                <div class="menu__content">
                    <h3 class="fs-700 color-heading">Custom</h3>
                    <p>Your customised logo cupcakes</p>
                    <a href="cupcake.html" class="btn bg-accent menu__btn">Shop Now</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section"></section>

    <footer class="bg-pink footer">
        <div class="footer__logo">
            <div class="footer__logo-icon">
                <img src="../image/logo.png" alt="A cupcake, logo of website">
            </div>
            <h1 class="fs-800 ff-serif color-heading uppercase">TORONTO<br>CUPCAKE</h1>
        </div>
        <div class="footer__nav">
            <h3 class="fs-600 color-heading">Navigation</h3>   
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="cupcake.html">Cupcakes</a></li>
                <li><a href="corperate.html">Corperate</a></li>
                <li><a href="connect.html">Connect</a></li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <div class="footer__social">
            <h3 class="fs-600 color-heading">Stay Connected</h3>
            <div class="footer__icon-list">
                <a href="#" class="footer__icon">
                    <img src="../image/facebook.png" alt="facebook icon">
                </a>
                <a href="#" class="footer__icon">
                    <img src="../image/twitter.png" alt="twitter icon">
                </a>
                <a href="#" class="footer__icon">
                    <img src="../image/instagram.png" alt="instagram icon">
                </a>
                <a href="#" class="footer__icon">
                    <img src="../image/youtube.png" alt="youtube icon">
                </a>
            </div>
        </div>
    </footer>

</body>
</html>